PyPika==0.51.1
PyYAML==6.0.3
Pygments==2.20.0
charset-normalizer==3.4.7
chromadb==1.5.9
dotenv==0.9.9
google-generativeai==0.8.6
huggingface_hub==1.18.0
importlib_resources==7.1.0
mdurl==0.1.2
pip-chill==1.0.5
pyasn1_modules==0.4.2
pydantic_core==2.46.4
pypdf==6.12.2
sentence-transformers==5.5.1
